name: Playwright Tests
on:
  push:
    branches:
      - "**"
      - "!gh-pages"
  pull_request:
    branches: 
      - main
      - master
jobs:
  test:
    name : Playwright Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/playwright:v1.30.0-focal
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm ci
          npx playwright install

      - name: Run Playwright tests
        run: npx playwright test

      - name: Upload HTML report as artifact. To troubleshoot failures, extract .zip and double-click index.html
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  # publsihTestResults:
  #   name: Publish Test Results to GH Pages
  #   needs: [test]
  #   runs-on: ubuntu-latest
  #   if: |
  #     success() || needs.test.result =='failure' &&
  #     github.ref == 'refs/heads/main'
  #   continue-on-error: true

  #   steps:
  #     - name: Download Artifacts
  #       uses: actions/download-artifact@v2
  #       id: download

  #     - name: Publish to GH Pages
  #       if: always()
  #       uses: peaceiris/actions-gh-pages@v3
  #       with:
  #       # publsih_branch default gh-pages
  #         github_token: ${{ secrets.GITHUB_TOKEN }} 
  #         publish_dir: ./playwright-report
  #         user_name: 'github-actions[bot]'
  #         user_email: 'github-actions[bot]@users.noreply.github.com'
  #         commit_message: ${{ github.event.head_commit.message }}
